@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.{js,jsx,ts,tsx,vue}";
@source "../../storage/framework/views/*.php";

/* Opsional: tema font default */
@theme {
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
               'Segoe UI', sans-serif, 'Apple Color Emoji',
               'Segoe UI Emoji', 'Segoe UI Symbol';
}
